h1{
	font-size:36px;
	margin-top:20px;
	margin-bottom:10px;
	color: #333;
	display:inline-block;
	text-align:center;
}

h1 small{
	color: #999;
	font-size:24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
}

div#container{
	padding-top: 5px;
	padding-left:20px;
	padding-right:20px;
}

.paraList {
	border-bottom:1px solid #eee;
}

ul {
	list-style-type:none;
}