.selectBar{
  width:50%;
  margin:0 auto;
  background-color: rgba(0,125,255,0.5);
}

.link{
  width:50%;
  margin: 0 auto;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.top{
  padding-top: 10px;
  padding-bottom: 20px;
}
