
body {
  background-color: #D7E5D0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  color:#FFF;
}

h1, p {
  color: #FFF;
  text-align:center;
}
h1#red{
  color:#D04648;
 display: inline-block;
}
h1#yellow{
 color:#DAD45E; 
 display: inline-block;
 
}

h1#updateHead{
  text-align:left;
}
li{color:#FFF;}

canvas#can{
  background-color:#FFF;
  display: table;
  margin: 0 auto;
  cursor:none;
}
