canvas#can{
	padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
}

div#banner{
	position: fixed;
	bottom:2px;
	right:4px;
	margin: 0px;
	color:#A0A0A0;
	font:400 14px monospace;
	vertical-align: baseline;
}